.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
}

h1, .h1 {
  color: $brand-primary;
  font-size: 2.5em;
}

h2, .h2 {
  color: $brand-accent;
  font-size: 2em;
  font-weight: 600;
}

// Master Slider styling
.master-slider-parent {
  overflow: hidden;

  .ms-slide-info {
    bottom: 25% !important;
    right: 5%;
    left: 50%;
    width: auto;
    background: rgba(#FFF,0.85);
    transform: translateY(50%);
    @include BoxShadowHelper(2);

    .ms-info {
      padding: 0.5em;
      font-size: 1.27em;
      color: $brand-primary;

      h3 {
        color: $brand-secondary;
      }
    }
  }
}

.widgets-bottom {

  .widget {
    margin-top: 1em;
    margin-bottom: 1em;
    @include make-sm-column(4);
  }

  .widget_sp_image {
    a {
      display: block;
      position: relative;
      transition: all $transition-timing $transition-easing;
      @include BoxShadowHelper(2);

      &:hover, &:focus {
        transform: translate(0,-3px);
        @include BoxShadowHelper(3);
      }
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0.5em;
      text-align: right;
      font-size: 1.4em;
      font-weight: 100;
      color: #FFF;
      background: rgba($brand-primary, 0.8);
    }
  }
}

// Google Maps
.map-canvas, .acf-map {
  height: 100%;
  @include BoxShadowHelper(2);
}

.map-row {
  height: 550px;
  padding: 0.5em 0;
}
