// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #005f84;
$brand-secondary:       #329946;
$brand-accent:          #74afc0;

// Fonts
$font-size-base:        18px;
$font-family-sans-serif:  'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
$headings-font-weight:    700;

$transition-timing:     0.15s;
$transition-easing:     ease-out;
