body {
  margin-top: 95px;
  &.home {
    margin-top: 0;
  }
  &.home-scrolled {
    margin-top: 255px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 95px !important;
  }

  &.noscroll {
    overflow: hidden;
  }
}

#wpadminbar {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

#mainNavigation {
  @media (min-width: $screen-sm-min) {
    display: block !important;
  }
}

header.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #FFF;
  @include BoxShadowHelper(2);

  @media (max-width: $screen-xs-max) {

  }

  .logged-in & {
    top: 32px;
    @media (max-width: $screen-xs-max) {
      top: 0;
    }
  }

  .home & {
    position: relative;
    @media (max-width: $screen-xs-max) {
      position: fixed;
    }
  }

  .home.logged-in & {
    top: 0;
  }

  .mainNavigation-toggle {
    float: right;
    cursor: pointer;
    margin: 1.25em 0.5em;
    font-size: 1.5em;
  }

  .nav {
    float: right;
    .home & {
      text-align: center;
      float: none;
    }

    >li {
      display: inline-block;

      a {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 1em;
        padding: 0.75em 1em;

        &:after {
          content: "";
          display: block;
          height: 1px;
          position: relative;
          bottom: 0;
          margin: 0 auto;
          width: 0%;
          border-top: 2px solid $brand-primary;
          transition: width $transition-timing $transition-easing;
        }

        &:focus, &:hover {
          background: none;

          &:after {
            width: 100%;
          }
        }
      }
    }

    .menu-item-has-children {
      position: relative;
      > .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 1em;
        background: rgba(#FFF,0.9);
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
        font-size: 0.9em;
        @include BoxShadowHelper(1);
      }

      &:hover {
        > .sub-menu {
          display: block;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  // When the mobile menu is toggled
  &.menu-visible {
    display: block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(#FFF, 0.95);

    #mainNavigation {
      clear: both;

      .nav {
        float: none;
        text-align: center;
        >li {
          display: block;
          a {
            font-size: 1.5em;
            border-bottom: 1px solid rgba(#000,0.15);
          }
        }

        .menu-item-has-children {
          position: relative;
          > a {
            border-bottom: none;
          }

          > .sub-menu {
            display: block;
            position: relative;
            box-shadow: none;
            background: none;
            left: auto;
            font-size: 0.8em;
            top: -1em;
            white-space: normal;
          }
        }
      }
    }
  }
} // header.banner

.brand {
  >span {
    display: block;
    float: left;
    background: url(../images/ccpm-logo-h@2x.png) center center no-repeat;
    background-size: contain;
    width: 596px * 0.3;
    height: 240px * 0.3;
    margin: 10px 0;

    overflow: hidden;
    white-space: nowrap;
    text-indent: 200%;
    @media (max-width: $screen-xs-max) {

    }

    .home & {
      background-image: url(../images/ccpm-logo-v@2x.png);
      width: 337px * 0.5;
      height: 320px * 0.5;
      margin: 20px auto;
      float: none;

      @media (max-width: $screen-xs-max) {
        margin: 10px 0;
        background-image: url(../images/ccpm-logo-h@2x.png);
        width: 596px * 0.3;
        height: 240px * 0.3;
        float: left;
      }
    }
  }
}
